<?xml version="1.0" ?>
<model>
    <name>diff_drive</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
        <name>pravardhan</name>
        <email>pravardhan.green1998@gmail.com</email>
    </author>
    <description>A differential drive robot</description>
</model>
